name: Build & Push to Docker Hub (on push to main)

on:
  pull_request:
    types: [closed]   # fires when a PR is closed (either merged or just closed)
    branches: [ "main" ]          # PR target branch
    paths:
      - "Dockerfile"
      - "src/**"
      - "Cargo.*"
      - "docker-compose.yml"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    env:
      IMAGE_NAME: pandreyn/rss-bot
      DOCKER_BUILDKIT: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU (for multi-arch)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
#          tags: |
#            type=ref,event=branch
#            type=sha
#            type=raw,value=latest

      - name: Build & push (multi-arch)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
